{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SIGEMH</title>

    <link
            rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {#  <link rel="stylesheet" type="text/css" href="{% static 'css/recados.css' %}">  #}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-githubstars" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'equipments:list' %}">SIGEMH - Sistema de Gestão de Equipamentos Médico-Hospitalares</a>

        </div>
        <div class="collapse navbar-collapse" id="menu-githubstars">
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Acessar</a></li>
                {% else %}
                    <li><a href="#">{{ user.get_full_name|default:user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="{% url 'equipments:transport_list' %}">Transporte</a></li>
                <li role="presentation"><a href="{% url 'equipments:loan_list' %}">Empréstimo</a></li>
                <li role="presentation"><a href="{% url 'sectors:list' %}">Setores</a></li>
                <li role="presentation"><a href="{% url 'equipments:list' %}">Equipamentos</a></li>
            </ul>
        </div>
        {% block content %}{% endblock content %}
    {% endblock body %}

{#    <div class="col-md-12">#}
{#        <ul class="na nav-tabs">#}
        
        <img src="{% static "image/logotipo-huolufrn.png" %}" alt="My image"/>
        <img src="{% static "image/logotipo-ebserh.png" %}" alt="My image"/>
{#        </ul>#}
{#    </div>#}

</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>
