{% extends "base.html" %}

{% block content %}
  <a href="{% url 'functionaries:create' %}" class="btn btn-primary">Novo Funcionario</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ obj.name }}</td>
            <td><a href="{% url 'functionaries:delete' obj.pk %}">Excluir</a></td>
          <td><a href="{% url 'functionaries:update' obj.pk %}">Editar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
