{% extends "base.html" %}

{% block content %}
<!--
    {% if new %}
        <a href="{% url 'equipments:create' %}" class="btn btn-primary">Adicionar Tipo de Equipamento</a>
    {% endif %}
-->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Total de Equipamentos</th>
            <th>Disponíveis na Central </th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
            <tr>
                <td><a href="{% url 'equipments:detail' obj.slug %}">{{ obj.name }}</a></td>
                <td>{{ obj.quantity }}</td>
                <!--
                <td><a href="{% url 'equipments:update' obj.pk %}">Editar</a></td>
                <td><a href="{% url 'equipments:delete' obj.pk %}">Excluir</a></td>
                -->
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
